body, html {
  margin: 0;
  padding: 0;
/*   font-family: sans-serif; */
  font-family: 'Fira Mono', monospace;
}

h1 {
  margin: 0;
  line-height: 1;
  font-size: 1.5rem;
}

.f-10 {
  font-size: 10px;
}

.row {
  display: flex;
}

.row.split {
  justify-content: space-between;
}

.map-container, .map {
  height: 100vh;
  position: relative;
  z-index: 1;
}

.input-box {
  width: calc(100% - 4rem);
  max-width: 400px;
  background: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0px 3px 12px #efefef;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 2;
}

.input-box .display-date {
  font-size: 0.9rem;
}

#origin-display [class^="display"] {
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .row {
    flex-direction: row
  }
  .cell {
    width: 50%;
  }
  .map-container, .map {
    /* height: 100vh; */
  }
  .cell:last-child .input-box {
    left: auto;
    right: 1rem;
  }
}

.leaflet-container .leaflet-control-attribution {
  font-size: 6px;
}

.div-icon {
  background: blue;
  width: 20px;
  height: 20px;
}
.hide {
  display: none;
}
